body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
    font-family: 'Times New Roman', serif;
}

form {
    text-align: center;
    padding: 20px;
    border: 10px ridge firebrick;
    border-radius: 10px;
    background: lightsalmon;
}

input{
    border: 3px ridge firebrick;
    border-radius: 15px;
    background: bisque;
    box-shadow: 5px 5px 5px firebrick;
}

p{
    font-size: large;
}

button{
    border: 3px ridge rgb(108, 21, 21);
    border-radius: 15px;
    background: lightcoral;
    box-shadow: 5px 5px firebrick;   
    padding: 2%;
    font-family: 'Times New Roman', serif;
    font-size: larger;
}

div{
    text-align: center;
    padding: 20px;
    border: 10px ridge firebrick;
    border-radius: 10px;
    background: lightsalmon;
}
